<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <form method="POST" action="/update/{{game.id}}" class="game-form mx-auto">
        {% csrf_token %}
         <div class="form-group">
            <label>Team 1:</label>
            <br>
            <input class="form-control" type="text" name="team_1" value="{{game.team_1}}" />
        </div>
        <div class="form-group">
            <label>Team 2:</label>
            <br>
            <input class="form-control" type="text" name="team_2" value="{{game.team_2}}" />
        </div>
        <div class="form-group">
            <label>Team 1 score:</label>
            <br>
            <input class="form-control" type="number" name="team_1_score" value="{{game.team_1_score}}" />
        </div>
        <div class="form-group">
            <label>Team 2 score:</label>
            <br>
            <input class="form-control" type="number" name="team_2_score" value="{{game.team_2_score}}" />
        </div>
        <div class="form-group">
            <button class="btn btn-success mt-3 btn-add-record" type="submit">Update</button>
        </div>
    </form>
</body>
</html>