<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.0/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
</head>

<body>
    <table id="table__team_list">
        <thead>
            <tr>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>Team 1 score</th>
                <th>Team 2 score</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                <td>{{ game.team_1 }}</td>
                <td>{{game.team_2}}</td>
                <td>{{game.team_1_score}}</td>
                <td>{{game.team_2_score}}</td>
                <td>
                    <a href="/edit/{{ game.id }}">Edit</a>
                    <a href="/delete/{{game.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <button><a style="color:black;" href="/game">Add New Record</a></button>
    <script>
        $("#table__team_list").DataTable()
    </script>
</body>

</html>